<% include ./partials/header %>


<div>
    <p><strong>The Soul Exchange&trade;</strong> is the premiere bidding platform for human souls and market leader in several auction and bidding tools for the immaterial. Among our patent applications are:</p>
    <ul>
        <li>Mortal Sin Heuristic&trade;</li>
        <li>Cardinal Sin Index (CSI&trade;)</li>
    </ul>
    
    <p>
        Our particular placement in the market somewhere between a business and a religious organization has allowed us to incorporate as a 501(c)(3).  This means the 5% we make from every transaction is absolutely tax free.  With all of the activity on <span class="tm">The Soul Exchange&trade;</span>, we pass that value on to ourselves.   
    </p>
    
    <p>For more information about <span class="tm">The Soul Exchange&trade;</span>, mail our office with a self-addressed pre-paid postage envelope and $14 USD in cash or money order, along with your questions.</p>  
</div>




<% include ./partials/footer %>