<% include ./partials/header %>
<form action="/manage/wallet" method="POST">
    <legend>Add Funds</legend>
    <input type="number" name="newFunds" id="newFunds" value="10">.00 <button class="btn btn-primary btn-sm">Add Funds</button>
</form>
<% include ./partials/footer %>