<% include ./partials/header %>

<p>Please send any of your comments with regard to the following topics to: 
<ul>
	<li><a href="mailto:owenss@oregonstate.edu">owenss@oregonstate.edu</a></li>
	<li><a href="mailto:douglac2@oregonstate.edu">douglac2@oregonstate.edu</a></li>
	</ul>
	</p>
<ul>
    <li>Concerns about a misrepresented soul</li>
    <li>Expressions of concern for our blasphemy</li>
    <li>Expressions of offense at our blasphemy</li>
    <li>Expressions of pleasure at the lake of fire in the future of <span class="tm">The Soul Exchange&trade;</span></li>
    <li>Declarations of holy war upon <span class="tm">The Soul Exchange&trade;</span></li>
    <li>Requests for Paid Speaking Appearances</li>
    <li>Technical Support questions</li>
    <li>Payment Issues</li>
    <li>Religious and moral philosophy</li>
</ul>

<% include ./partials/footer %>