<% include ./partials/header %>
<div class="container">
    <div class="formGroup">
        <div class="login-form">
            <h1>Login Form</h1>
            <form action="/login" method="POST">
                <label for="user_name">User Name: </label>
                <input id="user_name" type="text" name="user_name" placeholder="e.g. John123" required>

                <label for="password">Password: </label>
                <input id="password" type="password" name="password" placeholder="Password" required>
                <div id="formButtons">
                    <button id="submitButton" class="btn btn-large btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

</div>
    
        

<% include ./partials/footer %>